<div class="row justify-content-center col-12">
    <div class="col-12">
        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
            <table class="table table-hover mb-0">
                <thead >
                    <tr>
                        <th scope="col-lg-2"> First name </th>
                        <th scope="col-lg-2"> Second name </th>
                        <th scope="col-lg-2"> Email </th>
                        <th scope="col-lg-2"> Edit</th>
                        <th scope="col-lg-2"> delete</th>
                    </tr>
                </thead>
                <% users.forEach(User => { %>
                <tbody>
                    <tr>
                        <td>
                            <a href="<%= `/users/${User._id}` %>">
                                <%= User.firstName %>
                            </a>
                        </td>
                        <td><%= User.secondName %></td>
                        <td><%= User.email %></td>
                        <td>
                            <a class="btn btn-primary" href="<%=`/users/${User._id}/edit` %>">
                            Edit
                           </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="<%= `/users/${User._id}/delete?_method=DELETE` %>" 
                                onclick="return confirm('Are you sure you want to delete this receord?')"> Delete </a>
                        </td>
                    </tr>
                    <% } ); %>
                </tbody>
            </table>
        </div>
    </div>

</div>



